body {
	width: 100vw;
	min-height: 100vh;
	font-family: sans-serif;
	letter-spacing: 2px;
}
/******** ここからレスポンシブ用 ********/
.top_image_sp {
	display: none;
	position: relative;
}
#service_sp,
#news_sp,
#inquiry_sp,
.sp_menu {
	display: none;
}

/******** ここまでレスポンシブ用 ********/

/* header */
.top_header {
	display: flex;
	align-items: center;
	border-bottom: 2px solid#fff;
	background-color: rgb(23, 17, 0);
	width: 100vw;
	height: 10vh;
	justify-content: space-between;
}

.logo {
	display: flex;
	color: #fff;
	font-size: 2.5vw;
	font-weight: bold;
	padding-left: 5%;
	text-decoration: none;
	/* line-height: 80px; */
}
.menu {
	display: flex;
	padding-right: 100px;
}
.menu li {
	margin-left: 50px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	list-style: none;
	line-height: 80px;
}
.menu li a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.top_image {
	margin: 0 auto;
	width: 100vw;
	height: auto;
	position: relative;
}
.top_image img {
	padding: 0;
	width: 100vw;
	display: block;
}
.top_image h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 4vw;
	border: 2px solid white;
	padding: 40px 40px 25px 30px;
	font-weight: 600;
}

/* main */
main {
	overflow-wrap: break-word;
	white-space: pre-line;
}
main,
article,
section {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main h1,
aside h1 {
	display: flex;
	justify-content: center;
	width: 20%;
	text-align: center;
	padding-bottom: 10px;
	margin: 60px 0;
	font-size: 28px;
	font-weight: bolder;
	border-bottom: 2px solid rgb(23, 17, 0);
}

main h2 {
	font-size: 24px;
	font-weight: bolder;
}
.about_text {
	display: block;
	line-height: 25px;
	letter-spacing: 2px;
}
.about_text p {
	font-size: 12px;
	padding: 30px 0;
	line-height: 35px;
	letter-spacing: 2px;
}

.service {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contents {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.contents_1 {
	display: inline-block;
	width: 100%;
	height: 300px;
}

.contents_1 img {
	float: left;
	margin: auto;
	height: auto;
	width: 48%;
	padding-top: 30px;
}
.service_1 {
	float: right;
	width: 48%;
	height: auto;
}
.service_1 p {
	font-size: 12px;
	line-height: 35px;
	overflow-wrap: break-word;
	white-space: pre-line;
	letter-spacing: 2px;
}
.contents_2 {
	display: inline-block;
	width: 100%;
	height: 300px;
}

.contents_2 img {
	float: right;
	margin: auto;
	height: auto;
	width: 48%;
	padding-top: 0px;
}
.service_2 {
	float: left;
	width: 48%;
	height: auto;
}
.service_2 p {
	font-size: 12px;
	line-height: 35px;
	overflow-wrap: break-word;
	white-space: pre-line;
	letter-spacing: 2px;
}

/* news */
section {
	width: 80%;
}

#news {
	display: flex;
	margin-top: 50px;
	flex-direction: column;
	align-items: center;
}

.news {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.news div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	height: auto;
	/* margin: 0 auto; */
	border: 5px solid rgba(160, 160, 160, 0.5);
	/* outline-offset: -3px; */
	border-radius: 10px;
}

.news div img {
	flex: 1;
	width: 100%;
}

.news p {
	flex: 1;
	width: 80%;
	font-size: 12px;
	padding: 20px;
	line-height: 25px;
	letter-spacing: 2px;
}

/* inquiry */
aside h1,
aside form,
.btn a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside {
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside h1 {
	width: auto;
	text-align: center;
	margin: 150px 0 40px 0;
	font-size: 3vw;
	font-weight: bold;
}

.inquiry {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
}

.inquiry label {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.inquiry label p {
	padding: 25px 0 5px 0;
	letter-spacing: 2px;
}

.btn a {
	margin: 40px;
	padding: 15px 70px;
	text-decoration: none;
	list-style: none;
	border: 3px solid rgba(23, 17, 0, 0.5);
	color: #fff;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
	background-color: rgb(23, 17, 0);
	border-radius: 50px;
}

.btn a:hover {
	color: black;
	background-color: #fff;
	border: 3px solid rgb(23, 17, 0);
	transition: 0.2s;
}

footer {
	display: flex;
	width: 100vw;
	height: 80px;
	background-color: rgb(23, 17, 0);
	align-items: center;
	justify-content: center;
}

footer small {
	font-size: 12px;
	font-weight: bolder;
	color: #fff;
	text-align: center;
}

.go_top {
	position: fixed;
	right: 25px;
	bottom: 90px;
	z-index: 15;
}
.go_top a {
	text-align: center;
	font-size: 30px;
	width: 50px;
	height: 50px;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	border: 5px solid rgb(23, 17, 0);
	border-radius: 50%;
	color: rgb(255, 255, 255);
	background-color: rgb(23, 17, 0);
	transition: 0.2s;
}

.open,
.close {
	display: none;
}

input[type="checkbox"] {
	position: absolute;
	left: -50vw;
}

@media screen and (max-width: 700px) {
	.open,
	.close,
	.sp_menu {
		display: flex;
	}
	.open {
		position: absolute;
		top: 4%;
		right: 10%;
		color: #fff;
		font-size: 9vw;
	}
	.close {
		display: flex;
		width: 90vw;
		height: 150px;
		padding: 30px 30px 0 0;
		justify-content: right;
		color: white;
		font-size: 9vw;
	}
	.sp_menu {
		position: absolute;
		width: 100vw;
		min-height: 100vh;
		flex-direction: column;
		top: -100vh;
		background-color: rgb(23, 17, 0);
		transition: all 0.2s;
	}
	.sp_menu ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 50vh;
	}
	.sp_menu li {
		flex: 1;
		display: flex;
		align-items: center;
		font-size: 6vw;
	}
	.sp_menu li a {
		list-style: none;
		text-decoration: none;
		color: white;
	}
	input[type="checkbox"]:checked ~ .sp_menu {
		top: 0;
	}
	input[type="checkbox"]:checked ~ .back {
		position: absolute;
		height: 100%;
		width: 100%;
	}
	body {
		margin: 0 auto;
		width: 100vw;
		font-weight: 800;
		font-size: 1vw;
		letter-spacing: 0;
	}

	body h1 {
		margin: 180px 0 120px;
		width: 50%;
		font-size: 10vw;
		font-weight: 600;
	}
	body h2 {
		letter-spacing: 0;
		line-height: 1;
	}

	/* 非表示 */
	.menu,
	.top_image,
	.go_top {
		display: none;
	}

	/* top */
	.top_header {
		height: 12vh;
	}

	/* logo */
	.logo {
		line-height: 100px;
		padding-left: 20px;
		font-weight: bold;
		font-size: 5vw;
	}

	.top_image_sp {
		display: flex;
		width: 100vw;
		margin: 0 auto;
	}
	.top_image_sp img {
		width: 100%;
	}
	.top_image_sp h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-size: 6.5vw;
		border: 4px solid white;
		padding: 40px;
		font-weight: 600;
		text-align: center;
		line-height: 1.5;
		letter-spacing: 2px;
		width: 60%;
		height: 6%;
		margin: auto 0;
	}

	/* main */
	#about,
	#service,
	#news,
	#inquiry {
		width: 90%;
	}
	.about,
	.service,
	.news,
	.inquiry {
		width: 100%;
	}
	/* main_about */
	.about_text p {
		font-size: 3.5vw;
		font-weight: 500;
	}
	/* main_service */

	.service {
		display: flex;
	}
	.contents {
		display: flex;
		align-items: center;
	}
	.contents_1 {
		flex: 1;
		display: flex;
		flex-direction: column-reverse;
	}
	.service_1 {
		width: 100%;
		font-size: 4vw;
		font-weight: 800;
	}
	.contents_1 img {
		width: 100%;
	}
	.contents_1 p {
		font-size: 3vw;
		font-weight: 500;
		padding: 10px 0;
	}
	.contents_2 {
		flex: 1;
	}
	.service_2 {
		width: 100%;
		padding-top: 30px;
		font-size: 4vw;
		font-weight: 800;
	}
	.contents_2 img {
		width: 100%;
	}
	.contents_2 p {
		font-size: 3vw;
		font-weight: 500;
		padding: 10px 0;
	}

	/* main_news */
	.news {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.news div {
		width: 90%;
		margin: 40px 0;
	}
	.news p {
		font-size: 3vw;
		font-weight: 500;
		line-height: 2;
		padding: 40px 20px;
	}

	/* inquiry */
	aside {
		width: 100%;
		margin: 0 auto;
	}
	aside h1 {
		font-size: 7vw;
	}
	.inquiry {
		font-size: 3vw;
		font-weight: 600;
	}
	.inquiry label {
		margin: 10px 0;
	}
	.inquiry input,
	.inquiry textarea {
		font-size: 5vw;
		border: 2px solid rgb(23, 17, 0);
		border-radius: 5px;
	}
	.inquiry textarea {
		height: 30vh;
	}
	.btn a {
		width: 35vw;
		height: 6vh;
		font-size: 5vw;
		line-height: 1;
		justify-content: center;
	}
	/* footer */
	footer {
		height: 100px;
	}
	footer small {
		font-size: 3vw;
		font-weight: 500;
		letter-spacing: 2px;
	}
}
