body {
	width: 100vw;
	/* min-height: 100%; */
	font-family: sans-serif;
	letter-spacing: 2px;
}
/* header */
.top_header {
	display: flex;
	border-bottom: 2px solid#fff;
	background-color: rgb(23, 17, 0);
	width: 100vw;
	height: 80px;
	justify-content: space-between;
}

.logo {
	width: 100%;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	padding-left: 100px;
	text-decoration: none;
	line-height: 80px;
}
.menu {
	display: flex;
	padding-right: 100px;
}
.menu li {
	margin-left: 50px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	list-style: none;
	line-height: 80px;
}
.menu li a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.top_image {
	margin: 0 auto;
	width: 100vw;
	height: auto;
	position: relative;
}
.top_image img {
	padding: 0;
	width: 100vw;
	display: block;
}
.top_image h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 50px;
	border: 2px solid white;
	padding: 40px 40px 25px 30px;
}

/* main */
main {
	overflow-wrap: break-word;
	white-space: pre-line;
}
main,
article,
section {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main h1,
aside h1 {
	display: flex;
	justify-content: center;
	width: 20%;
	text-align: center;
	padding-bottom: 10px;
	margin: 60px 0;
	font-size: 28px;
	font-weight: bolder;
	border-bottom: 2px solid rgb(23, 17, 0);
}

main h2 {
	font-size: 24px;
	font-weight: bolder;
}
.about_text {
	display: block;
	line-height: 25px;
	letter-spacing: 2px;
}
.about_text p {
	font-size: 12px;
	padding: 30px 0;
	line-height: 35px;
	letter-spacing: 2px;
}

.service {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contents {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.contents_1 {
	display: inline-block;
	width: 100%;
	height: 300px;
}

.contents_1 img {
	float: left;
	margin: auto;
	height: auto;
	width: 48%;
	padding-top: 30px;
}
.service_1 {
	float: right;
	width: 48%;
	height: auto;
}
.service_1 p {
	font-size: 12px;
	line-height: 35px;
	overflow-wrap: break-word;
	white-space: pre-line;
	letter-spacing: 2px;
}
.contents_2 {
	display: inline-block;
	width: 100%;
	height: 300px;
}

.contents_2 img {
	float: right;
	margin: auto;
	height: auto;
	width: 48%;
	padding-top: 0px;
}
.service_2 {
	float: left;
	width: 48%;
	height: auto;
}
.service_2 p {
	font-size: 12px;
	line-height: 35px;
	overflow-wrap: break-word;
	white-space: pre-line;
	letter-spacing: 2px;
}

/* news */
section {
	width: 80%;
}

#news {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.news {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.news div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	height: auto;
	border: 3px solid rgba(160, 160, 160, 0.5);
	border-radius: 6px;
	/* margin: 0 auto; */
}

.news div img {
	flex: 1;
	width: 100%;
}

.news p {
	flex: 1;
	width: 80%;
	font-size: 12px;
	padding: 20px;
	line-height: 25px;
	letter-spacing: 2px;
}

/* inquiry */
aside h1,
aside form,
.btn a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside {
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
	text-align: center;
	margin: 150px 0 40px 0;
	font-size: 28px;
	font-weight: bold;
}

.inquiry {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
}

.inquiry label {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.inquiry label p {
	padding: 25px 0 5px 0;
	letter-spacing: 2px;
}

.btn a {
	margin: 40px;
	padding: 15px 70px;
	text-decoration: none;
	list-style: none;
	border: 3px solid rgb(23, 17, 0);
	color: #fff;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
	background-color: rgb(23, 17, 0);
	border-radius: 50px;
}

.btn a:hover {
	color: black;
	background-color: #fff;
	border: 3px solid rgb(23, 17, 0);
	transition: 0.2s;
}

footer {
	display: flex;
	width: 100vw;
	height: 80px;
	background-color: rgb(23, 17, 0);
	align-items: center;
	justify-content: center;
}

footer small {
	font-size: 12px;
	font-weight: bolder;
	color: #fff;
	text-align: center;
}

.go_top {
	position: fixed;
	right: 25px;
	bottom: 90px;
	padding: 13px 20px;
	background-color: rgb(23, 17, 0);
	border-radius: 100px;
	z-index: 15;
}
.go_top i {
	text-align: center;
	font-size: 45px;
	width: 30px;
	height: 45px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	transition: 0.2s;
}
